@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    margin: 0;
    padding: 0;
    -webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

.blackout{
    background-color: #00000034;
}

@keyframes bgcolor {
    0% {
        background-color: #45a2e55e
    }

    30% {
        background-color: #66bf39
    }

    60% {
        background-color: #eb670f
    }

    90% {
        background-color: #f35
    }

    100% {
        background-color: #864cbf
    }
}

.nospace{
    margin: 0;
    padding: 0;
}
p{
    user-select: none;
    font-family: 'Roboto', sans-serif;
    font-size: 47.3px;
}



.hud{
    z-index: 99;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    .stat{
        margin: 0 !important;
        padding-top: 20px;
        display: flex;
        align-items: flex-start;
        margin-top: 20px;
        flex-direction: column;
        height: 15vh;
    }


    .button{
        background-color: transparent;
        width: 150px;
        height: 150px;
        box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.4);
        text-align: center;
        overflow: hidden;
        .points{
            text-shadow: 3px 3px rgb(177, 177, 177);
        }
    }

    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60vh;
        width: 100%;
        flex-direction: column;
    }

    
    .shop{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-left: 10%;
        margin-right: 10%;
        padding-bottom: 40px;
        width: 80%;
        .buy{
            width: 15%;
            height: 100%;
            text-align: center;
        }
    }


}

.boxshadow{
    box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.4);
}.boxshadow:active{
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.4) inset;
}










